<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore Computing courses at Cantor College where we offer Software Engineering, Cyber Security, Computer Networks and BSc Honours degrees accredited by the BCS.">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='desktop.css') }}" media="only screen and (min-width: 768px)">
    <title>Cantor College</title>
</head>
<body>
    <header class="header">
        <div class="logo"><img src="{{ url_for('static', filename='Images/logo.small.png') }}" alt="Cantor College Logo"></div>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
                <li><a href="{{ url_for('how_to_find_us') }}">How To Find Us</a></li>
                <li><a href="{{ url_for('computing_courses') }}">Computing Courses</a></li>
                <li><a href="{{ url_for('design_courses') }}">Design Courses</a></li>
                <li><a href="{{ url_for('facilities') }}">Facilities</a></li>
                <li><a href="{{ url_for('learning_resources') }}">Learning Resources</a></li>
                <li><a href="{{ url_for('info_for_staff') }}">Information For Staff</a></li>
                <li><a href="{{ url_for('info_for_students') }}">Information For Students</a></li>
                <li><a href="{{ url_for('working_with_business') }}">Working With Business</a></li>
                <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="Title">
        <div class="TitleImage">
            <img src="static/Images/PXL_20250728_090733023.small.jpg" alt="An image of one of the computer rooms in Cantor College where multiple computers are in display" fetchpriority="high">
        </div>
        <div class="TitleText">
        <h1>Computing Courses</h1>
        </div>
    </section> 

    <main class="PageContent">
        <div class="PageContentContainer">
        <p>
            The College offers a range of courses to suit applicants with varying backgrounds and educational abilities. At undergraduate level, there are single BSc Honours Degree courses in Computing, Computer Networks, Software Engineering and Cyber Security with Forensics amongst others.

            The College teaches undergraduate and postgraduate courses in a wide range of specialisms, including computer science, software development, information systems, networking and software engineering. It is at the heart of a passionate computing community, including student societies devoted to games development, digital forensics and programming.

            The courses are British Computer Society accredited and are highly relevant to modern industry. They are designed to prepare students for professional occupations in Computing and related fields. Many graduates continue their studies to pursue a higher degree such as an MSc. or PhD.
        </p> 
    </div>  
    </main>

    <footer class="footer">
        <p class="footerp1">Cantor College Sheffield</p>
        <p class="footerp2">Main Street Sheffield SC4 2BB</p>
        <p class="footerp3">Tel:(01321) 2340 235</p> 
        <p>Fax: (01321) 2340 236</p> 
        <p>Email: info@cantorcollege.ac.uk</p>
        <p class="footerp4">&copy; 2025 Cantor College. All rights reserved.</p>
    </footer>
</body>
</html>